
.about-hero {
        background-image: url('../images/aboutpage.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 35em;
    }

#aboutheader {
        text-align: center;
        color: #03A5BA;
    }


// #aboutphoto {
    // text-align: center;
// }
  

#about{
 text-align: center;
    color: #03A5BA;
}

#abouttext {
    color: #03A5BA
}

#abouttext2 {
    color: #03A5BA
}