.mail-header {
    margin-bottom: 0;
    margin-left: -15px;
    margin-right: -15px;

    .mail-hero {
        background-image: url('../images/three-smoothies.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 35em;

            .title {
                color: #03A5BA;
                padding-top: 5em;;
                text-align: center;
        }
    }
}
#join{
    text-align: center;
    color: #03A5BA;
}