
    .smoothie-hero {
        background-image: url('../images/servicesphotocopy.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 40em;
    }

    #servicesheader {
        text-align: center;
        color: #03A5BA;
    }

    #servicesbutton {
        background-color: #E7B72B;
        border-radius: 5px;
        border: none;
        color: white;
        text-align: center;
        position: center;
    }
    #allignleft {
        text-align: left;
    }

    #centerservices {
        text-align: center;
    }
    

.servicestext {

        color: #03A5BA;
    }

