
    .smoothie-hero {
        background-image: url('../images/servicesphotocopy.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 40em;
    }

    #servicesheader {
        text-align: center;
        color: #03A5BA;
    }

.btn {
    background-color: #E7B72B;
}

.btn:hover {
    background-color: #03A5BA;
    color:white;
    transition-duration: 0.4s;
        
}
    // #servicesbutton {
    //     background-color: #E7B72B;
    //     border-radius: 5px;
    //     border: none;
    //     color: white;
    //     text-align: center;
    //     position: center;
    // }
    

.servicestext {

        color: #03A5BA;
    }


