@import "../css/about.less";
// @import "appointments.less";
@import "../css/blog.less";
@import "../css/checkout.less";
@import "../css/developers.less";
@import "../css/products.less";
@import "../css/services.less";
@import "../css/welcome.less";
@import "../css/product-detail.less";
@import "../css/service-detail.less";


body {
    margin-top: 8em;
}
.navbar {
    // height: 8em;
    margin-bottom: 0;
    background-color: white;

.nav.navbar-nav.navbar-right li a {
    color: #E7B72B;
}

.image1 {
        height: 7em;
        width: 10em;
    }

    .links {
        background-color: #03A5BA;
        height: 8em;
        float: left;
    }

    img {
        height: 4em;
        width: 15em;
        background-size: auto;
        background-repeat: no-repeat;
        margin-top: 0.5em;
        line-height: 8em;
    }
    

    .facebook {
        background-image: url('/images/fb-grey.svg');
        height: 2em;
        width: 3em;
        margin-top: 2.5em;
        background-repeat: no-repeat;
        
    }
    
    .instagram {
        background-image: url('/images/insta-grey.svg');
        height: 2em;
        width: 3em;
        background-size: auto;
        background-repeat: no-repeat; 
         margin-top: 2.5em;
        vertical-align: middle;
    }

    ul {
        list-style-type: none;

        li {
            margin-left: 1.5em;
            margin-right: 1.5em;
            text-align: center;

            a{
                line-height: 8em;
                padding: 0;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    body {
        margin-top: 13em;
    }
    .navbar ul li a {
        line-height: 2em;
    }
    .navbar .links {
        background-color: transparent;
        margin-top: -1em;
    }
    .navbar-header {
        background-image: url('../images/logo.png');
        background-size: 100% 100%;
        height: 10em;
    }
    .image1 {
        display: none;
    }
    .navbar-toggle.collapsed {
        background-color: transparent;
        margin-top: 10em;
    }
    .nav.navbar-nav.navbar-right.words {
        display: inline-block;
    }
    #myNavbar {
        background-color: transparent;
    }
}