@font-family: 'Cantata One', serif;
.welcome {
    background-image: url(../images/glowing-green-smoothies.jpg);
    background-size: cover;
    background-repeat: repeat;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#img-div{
    display: inline-block;
    // background-color: white;
    width: 800px;
    height: 400px;
    margin-top: 13em;
}
#welcome-desc {
    text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    padding-top: 5em;;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #E7B72B;
    font-weight: bold;
    font-family: @font-family;
}
#welcome-logo{
    vertical-align: middle;
    width: 25em;
    height: 15em;
    margin-top: 3em;
}
.btn{
    background-color: #E7B72B;
    color: black;
    font-family: @font-family;
}