.welcome {
  background-image: url(../images/glowing-green-smoothies.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  width: 100%;
  height: auto;
  background-size: cover;
  background-color: #E7B72B;
  /*width: 100%;*/
  /*height: auto;*/
}

@media only screen and (min-device-width: 600px) {
  .welcome {
    background-size: cover;
    height: auto;
  }
}

#img-div {
  display: inline-block;
  width: 800px;
  height: 400px;
  margin-top: 10em;
  position: relative;
}
#welcome-desc {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  padding-top: 5em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #E7B72B;
  font-weight: bold;
  font-family: 'Cantata One', serif;
}
#welcome-logo {
  vertical-align: middle;
  width: 25em;
  height: 15em;
  margin-top: 3em;
}
.btn {
  background-color: #E7B72B;
  color: black;
  font-family: 'Cantata One', serif;
}
