
	<div class="blog-header">
		<div class="row">
			<div class="about-hero jumbotron">
				<div class="row title2">
					<div class="col-md-12">
						<h1 id="aboutheader">About Us</h1>
					</div>
				</div>
			</div>

		</div>
	</div>
  

<!--LEFT SIDE DIV STARTS HERE-->
<div class="container">
<div class='row'>
 <div class='col-sm-6 about-text'>
      
<h1 id="abouttext">LOCATION</h1>
<p>Hair Smoothie Bar</p>
<p>1694 Montgomery Hwy. Suite 172: Studio 26</p>
<p>Birmingham, AL 35216</p>
<p>Located inside of Sola Salons</p>
<p>Email:  sherijohnson@hairsmoothiebar.com</p>
<a ng-href="/mailing">Join Mailing List</a>

</div>

<div class='col-sm-6 about-text'>
			<h1 id="abouttext2">HOURS OF OPERATION</h1>
<p>Monday 10-8<br />
Tuesday 10-8<br />
Wednesday 10-8<br />
Thursday 10-8<br />
Friday 10-8<br />
Saturday 10-9<br />
Sunday 10-8</p>
<p>Phone: 205.329.2622</p>
</div>
</div>
 <!--LEFT SIDE DIV ENDS HERE-->

<!--RIGHT SIDE DIV STARTS HERE-->
<div class="row about-para"
 <div class="col-sm-12">
			<h1 id="about">ABOUT HAIR SMOOTHIE BAR</h1>
			<p>Hair Smoothie Bar began because of a need, a need to help Sheri Johnson treat her daughter's scalp issues.  Soon after, her clients began to ask what products she was using at home and wanted her to produce them for her.  Sheri believes that your hair should eat a healthy diet just like your body needs.  Her vision is to open Hair Smoothie Bars in every city so that everyone can experience benefits of a healthy hair diet.  All of the hair smoothies begin with a creamy base, teas, and agave nectar or honey.  The produce changes between smoothies depending on your hair needs.  All hair smoothies are made-to-order from raw ingredients.  The only preservative is your refrigerator!</p>
			<p><strong>Disclaimer: Hair smoothies are not for consumption</strong></p>	
 </div>


<!--RIGHT SIDE DIV ENDS HERE-->


<!--GOOGLE MAP STARTS HERE-->
<div class="google-maps">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d832.8389829762687!2d-86.80774280000003!3d33.3878771!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8889220e6c4cea71%3A0xe644cf1428e84e33!2s1694+Montgomery+Hwy+%2326%2C+Hoover%2C+AL+35216!5e0!3m2!1sen!2sus!4v1492618385577" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>	</div>
</div>
<!--GOOGLE MAP ENDS HERE-->



