<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3 admin">
            <h1>Write A Blog Post</h1>
            <div class="container-fluid newpost-page">
                <div>
                    Title: <br>
                    <input type="text" ng-model="title" placeholder="Put your Title here!">
                </div>
                <div>
                    Write Post: <br>
                    <textarea ng-model="content"></textarea>
                </div>
                <div>
                    <button ng-click="savePost()">Post</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-offset 3 col-md-6 col-md-offset-3">
            <h1>See Appointment Calendar</h1>
            <h3><a href="https://my.setmore.com/">Setmore</a></h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-offset-3 col-md-6 col-md-offset-3">
            <h1>Check Your Stripe Account</h1>
            <h3><a href="https://stripe.com/">Stripe</a></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col md-6 col-md-offset-3">
            <button ng-click="logout()">LOGOUT</button>
        </div>
    </div>
</div>