<HTML>
	<HEAD>
            <link rel="stylesheet" href="https://www.jqwidgets.com/public/jqwidgets/styles/jqx.base.css">
    <link rel="stylesheet" href="https://www.jqwidgets.com/public/jqwidgets/styles/jqx.energyblue.css">
    <script>src='https://www.jqwidgets.com/public/jqwidgets/jqx-all.js'</script>
    <script>src='https://www.jqwidgets.com/public/jqwidgets/globalization/globalize.js'</script>
    <script>src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js'</script>
	</HEAD>
	<BODY>
        
        <div id="scheduler">
         
        </div>
	</BODY>
</HTML>