<div class="container-fluid">

	<div class="blog-header">
		<div class="row">
			<div class="theater-hero img-responsive jumbotron">
				<div class="row title">
					<div class="col-md-12">
						<h1>What's Happening?</h1>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="blog-area">
		<!--<div class="create-button">
			<button ng-click="goToNewPost()">Create Post</button>
		</div>-->
		<div class="row">
			<div class="col-md-4 blogposts" ng-repeat="blog in blogposts">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="blog-background">
							<h1> {{ blog.title }}</h1>
							<p> {{ blog.content | limitTo: 30 }}...</p>
							<!--<h6> {{ blog.createdAt | date: 'short' }}</h6>-->
							<div class="the-buttons">
								<button class="btn btn-info" ng-click="goToSinglePost(blog.idBlogs)">Read More</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--container closing-->
</div>