<div class="container-fluid newpost-page">   

<h1>Compose Your Post!</h1>
<div>
    Title: <input type="text" ng-model="title" placeholder="Put your Title here!">
</div>
<div>
    User: <select id="user-selector" ng-model="userid">
        <option ng-repeat="user in users" value="{{ user.id }}">
            {{ user.firstname }} {{ user.lastname }}
        </option>
    </select>
</div>
<div>
    Category: <select id="cat-selector" ng-model="catID">
        <option ng-repeat="category in categories" value="{{ category.id }}">
            {{ category.name }}
        </option>
    </select>
</div>
<div>
    Write Post:<textarea ng-model="content"></textarea>
</div>
<div>
    <button ng-click="savePost()">Post</button>
</div>
</div>