<div class="jumbotron" id="aboutHero">
        <div class="container">
            <div class="row">
                <div class=" col-md-12 h1Container">
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="team">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-12">
				    <h2 class="teamHeading">OUR TEAM</h2>
				        <div class="row">
						    <div class="col-md-3 col-sm-3 col-xs-12 col-md-1-offset col-sm-offset-1 profile">
							    <div class="img-box">
								    <img src="../resources/wayne.jpeg" alt="Wayne" class="img-responsive">
							        <h3>Jeremy Welton</h3>
							        <h4>Co-founder</h4>
							        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <ul class="socialLinks">
									    <a href="https://github.com/waterseeker">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://www.linkedin.com/in/wayne-burris-2a655318">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
						    </div>
						    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-1 col-sm-offset-1 profile">
							    <div class="img-box">
								    <img src="../resources/rachel.jpeg" alt="Rachel" class="img-responsive">
							        <h3>Freshunda Lewis</h3>
							        <h4>Co-founder</h4>
							        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <ul class="socialLinks">
									    <a href="https://github.com/reiting">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://www.linkedin.com/in/rachel-eiting-47573318?trk=hp-identity-name">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
						    </div>
					
					    </div>
			        </div>
		        </div>
                <div class="row">
                   <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-2 profile">
							    <div class="img-box">
								    <img src="../resources/matt.jpeg" alt="Matt" class="img-responsive">
							        <h3>Rachel Eiting</h3>
							        <h4>Co-founder</h4>
							        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <ul class="socialLinks">
									    <a href="https://github.com/mpasker">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://www.linkedin.com/in/matthewpasker">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
                            </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-2 profile">
							    <div class="img-box">
								    <img src="../resources/rebeccah.jpeg" alt="Rebeccah" class="img-responsive">
							        <h3>Keilah Smith</h3>
							        <h4>Co-founder</h4>
							        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <ul class="socialLinks">
									    <a href="https://www.linkedin.com/in/keilah-smith-b3299684">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://github.com/kdsmith2">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
						</div>  
                    </div>
	            </div>
        </section>