<div class="jumbotron" id="aboutHero">
        <div class="container">
            <div class="row">
                <div class=" col-md-12 h1Container text-center">
                    <h1 id="head_dev">About Us</h1>
                </div>
            </div>
        </div>
    </div>
    <section class="team">
	    <div class="container">
		    <div class="row">
			    <div class="col-md-12 text-center">
				    <h2 class="teamHeading head_dev">OUR TEAM</h2>
				        <div class="row">
						    <div class="col-md-3 col-sm-3 col-xs-12 col-md-1-offset col-sm-offset-1 profile">
							    <div class="img-box">
								    <img src="../images/Jeremy.png" alt="Jeremy" class="img-responsive">
							        <h3 class="head_dev">Jeremy Welton</h3>
							        <h4 class="head_dev">Co-founder</h4>
							        <p>Creating checkout pages like a boss.</p>
                                    <ul class="socialLinks">
									    <a href="https://github.com/turn224">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://www.linkedin.com/in/jeremy-welton-76488713b">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
						    </div>
						    <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-2 profile">
							    <div class="img-box">
								    <img src="../images/Freshunda.jpg" alt="Freshunda" class="img-responsive">
							        <h3 class="head_dev">Freshunda Lewis</h3>
							        <h4 class="head_dev">Co-founder</h4>
							        <p>Ninja at SQL and server-side star.</p>
                                    <ul class="socialLinks">
									    <a href="https://github.com/freshunda">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://www.linkedin.com/in/rachel-eiting-47573318?trk=hp-identity-name">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
						    </div>
					
					    </div>
			        </div>
		        </div>
                <div class="row">
                   <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-2 col-sm-offset-2 profile">
							    <div class="img-box">
								    <img src="../images/Rachel.png" alt="Rachel" class="img-responsive">
							        <h3 class="head_dev">Rachel Eiting</h3>
							        <h4 class="head_dev">Co-founder</h4>
							        <p>Provided information on all things bootstrap and made the blog bloggy.</p>
                                    <ul class="socialLinks">
									    <a href="https://github.com/reiting">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://www.linkedin.com/in/rachel-eiting-47573318">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
                            </div>
                        <div class="col-md-3 col-sm-3 col-xs-12 col-md-offset-3 col-sm-offset-3 profile">
							    <div class="img-box">
								    <img src="../images/Keilah.png" alt="Keilah" class="img-responsive">
							        <h3 class="head_dev">Keilah Smith</h3>
							        <h4 class="head_dev">Co-founder</h4>
							        <p>Master of the About page and ng-repeat genius.</p>
                                    <ul class="socialLinks">
										<a href="https://github.com/kdsmith2">
										    <li><i class="fa fa-github fa-lg"></i></li>
									    </a>
									    <a href="https://www.linkedin.com/in/keilah-smith-b3299684">
										    <li><i class="fa fa-linkedin-square fa-lg"></i></li>
									    </a>
								    </ul>
							    </div>
						</div>  
                    </div>
	            </div>
        </section>