
	<div class="blog-header">
		<div class="row">
			<div class="product-hero jumbotron">
				<div class="row title">
					<div class="col-md-12">
						<h1 id="productsheader">PRODUCTS</h1>
					</div>
				</div>
			</div>

		</div>
	</div>
  


<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="product in products">
    <div class="thumbnail">
            <a ng-href="/products/{{product.id}}">
      <img ng-src="{{product.productImg}}" alt="Test">
      </a>
      <div class="caption">
        <h4>{{product.productName}}</h4>
				<h4 id="price">{{product.productPrice | currency}}</h4>
      </div>
    </div>
  </div>
</div>
</div>


