<div class="row">
    <div class="col-lg-12">
<img src="images/Fruits-Veggies-Horizontal1.jpg" id="products" class="img-responsive center-block" alt="Welcome to the products page!">
    </div>
  </div>


<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="product in products">
    <div class="thumbnail">
            <a ng-href="/products/{{product.idProduct}}">
      <img ng-src="{{product.productImg}}" alt="Test">
      </a>
      <div class="caption">
        <h4>{{product.productName}} {{product.productPrice | currency}}</h4>
      </div>
    </div>
  </div>
</div>
</div>


