
	<div class="blog-header">
		<div class="row">
			<div class="smoothie-hero jumbotron">
				<div class="row title">
					<div class="col-md-12">
						<h1 id="servicesheader">SERVICES</h1>
					</div>
				</div>
			</div>

		</div>
	</div>
  
<div class="row text-center">
	<a ng-href="/about">Please contact us for pricing</a>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="service in services">
    <div class="thumbnail">
            <a ng-href="/services/{{service.idServices}}">
      <img ng-src="{{service.serviceImg}}" alt="Test">
      </a>
      <div class="caption">
        <h4>{{service.serviceName}}</h4>
      </div>
    </div>
  </div>
</div>
</div>


