
	<div class="blog-header">
		<div class="row">
			<div class="smoothie-hero jumbotron">
				<div class="row title">
					<div class="col-md-12">
						<h1 id="servicesheader">SERVICES</h1>
					</div>
				</div>
			</div>

		</div>
	</div>
  
<div class="row text-center">
	<a ng-href="/about">Please contact us for pricing</a>
</div>


<!--LEFT SIDE DIV STARTS HERE-->
<div class="container">
<div class='row'>
 <div class='col-sm-6'>
      
<h2>Hair Smoothie Bar offers hair services in a relaxing environment using natural products.</h2>

<button onclick="location.href='https://my.setmore.com/bookingpage/a75b0288-392f-4b81-82c7-b4a26d053547'">Book Now</button>

</div>

<div class='col-sm-6'>
			<h1>Services</h1>
<p>Haircut<br />
Sew-in Extensions<br />
Cap Extensions<br />
Braid Extensions<br />
Smoothie Treatments<br />
Deep Condition<br />
Silk Press</p>
</div>
</div>
 <!--LEFT SIDE DIV ENDS HERE-->

<!--RIGHT SIDE DIV STARTS HERE-->
<div class="row"
 <div class='col-sm-12'>
			<h1>GALLERY</h1>
			<p>Add a carousel here with photos of hair styles??</p>
			
 </div>


<!--RIGHT SIDE DIV ENDS HERE





<!--<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="service in services">
    <div class="thumbnail">
            <a ng-href="/services/{{service.idServices}}">
      <img ng-src="{{service.serviceImg}}" alt="Test">
      </a>
      <div class="caption">
        <h4>{{service.serviceName}}</h4>
      </div>
    </div>
  </div>
</div>
</div>

-->
