<!--<div class="row">
    <div class="col-lg-12">
<img src="https://static.wixstatic.com/media/955945_376d11547ddf4226b12d0f16d15a691e.png/v1/fill/w_1026,h_652,al_c/955945_376d11547ddf4226b12d0f16d15a691e.png" id="services" class="img-responsive center-block" id="welcome" class="img-responsive center-block" alt="Welcome to the Covalence Store!">
    </div>
  </div>-->


<div class="row">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img id="servicejumbo" src="images/smoothiejars.jpg" alt="Services!">
  </div>
</div>


<div class="container">
<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="service in services">
    <div class="thumbnail">
            <a ng-href="/services/{{service.idServices}}">
      <img ng-src="{{service.serviceImg}}" alt="Test">
      </a>
      <div class="caption">
        <h4>{{service.serviceName}} {{service.servicePrice | currency}}</h4>
      </div>
    </div>
  </div>
</div>
</div>


